<%=form_for @attraction do |f|%>
  <%if @attraction.errors.any?%>
    <div id="error_explanation">
      <h3><%= pluralize(@attraction.errors.count, "error")%> stopped this attraction from being saved:</h3>
      <ul>
        <%@attraction.errors.full_messages.each do |msg|%>
          <li><%=msg%></li>
        <%end%>
      </ul>
    </div>
  <%end%>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :tickets %>
    <%= f.number_field :tickets %>
  </div>

  <div class="field">
    <%= f.label :nausea_rating %>
    <%= f.number_field :nausea_rating %>
  </div>

  <div class="field">
    <%= f.label :happiness_rating %>
    <%= f.number_field :happiness_rating %>
  </div>

  <div class="field">
    <%= f.label :min_height%>
    <%= f.number_field :min_height %>
  </div>

  <div class="action">
  <%= f.submit button_text%>
  </div>

  <% end %>
