<center><h1>Attractions!</h1></center>

<%if @current_user.admin%>
  <%=link_to "New Attraction", new_attraction_path%>
  <ul>
    <%@attractions.each do |attraction|%>
      <li>Ride: <%= link_to "Show #{attraction.name}", attraction_path(attraction)%>
        <ul>
          <li>Ticket Cost: <%=attraction.tickets%></li>
          <li>Nausea Rating: <%=attraction.nausea_rating%></li>
          <li>Happiness Rating: <%=attraction.happiness_rating%></li>
          <li>Minimum Height to Ride: <%=attraction.min_height%></li>
        </ul>
      </li>
    <% end %>
  </ul>
<%else%>
  <ul>
    <%@attractions.each do |attraction|%>
      <li>Ride: <%= link_to "Go on #{attraction.name}", attraction_path(attraction)%>
        <ul>
          <li>Ticket Cost: <%=attraction.tickets%></li>
          <li>Nausea Rating: <%=attraction.nausea_rating%></li>
          <li>Happiness Rating: <%=attraction.happiness_rating%></li>
          <li>Minimum Height to Ride: <%=attraction.min_height%></li>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
